############################
# Node.js
############################
node_modules/
npm-debug.log
yarn-error.log

############################
# Strapi
############################
.tmp/
.cache/
.strapi/
build/
dist/
exports/
.strapi-updater.json

############################
# Env
############################
.env

############################
# IDE
############################
.vscode/
.idea/
*.iml

############################
# OS
############################
.DS_Store
Thumbs.db
